<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-6">
        <b> Admin Panel</b>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-2"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">All Products <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/view-orders">All Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/view-users">All Users</a>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle mr-5" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{#if admin}}
                    {{admin.Name}}
                    {{else}}
                    Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#if admin}}
                    <a class="dropdown-item" href="/admin/edit-profile">Edit Profile</a>
                    <a class="dropdown-item" href="/admin/change-password">Change Password</a>
                    <a class="dropdown-item" href="/admin/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/admin/login">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
</header>