<div class="container row">
    <div class="container col-md-9">
        <img id="img" style="width:110%;" src="/images/emptycart.webp" alt="">
    </div>
    <div class="col-md-3 mt-5 p-5">
        <div class="m-5 pt-5">
            <a href="/" class="btn btn-primary p-4 m-5"><h1>Shop Our Products</h1></a>
        </div>
    </div>
</div>

<style>
</style>